:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* Styles */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.table {
  margin: 0px auto;
  text-align: center;
  border: 1px solid #ddd;
  border-top: unset;
  border-spacing: 0;
  width: 80%;
}
.table__head th {
  border-bottom: 1px solid #ddd;
}
.table__body tr {
  transition: all 0.1s;
  background-color: rgb(252, 252, 252);
}
.table__body td {
  border-left: 1px solid #ddd;
}
.table__body td:nth-child(1) {
  border-left: unset;
}
.table__body tr:hover {
  filter: brightness(85%);
}
.table__body tr:nth-child(2n) {
  background-color: rgb(238, 238, 238);
}
.table__error {
  background-color: rgb(212, 79, 79);
  /* border: 1px solid black; */
}
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}
